/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }

  input {
    background-color: #444;
    color: #fff;
  }

  input::placeholder {
    color: #818181;
  }

  button {
    background-color: #444;
    color: #fff;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background: brown !important;
  }
  .searchContainer {
    flex-direction: row;
    gap: 20px;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 100%;
  gap: 16px;
}

.noAiIcon {
  width: 250px;
  height: 250px;
}

.aboutTextContainer {
  max-width: 50%;
}

.aboutTextHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px
}

.hidden {
  display: none;
}

input {
  padding: 20px 20px 20px 30px;
  border-radius: 24px;
  border: 1px solid #ccc;
  width: 75%;
  font-family: "Montserrat", sans-serif;
  background: url('../img/google.svg') no-repeat scroll 7px 20px;
}

button {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}
