/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  gap: 16px;
}

footer {
  bottom: 0;
  position: sticky;
  margin-top: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

input {
  padding: 20px 20px 20px 30px;
  border-radius: 24px;
  border: 1px solid #ccc;
  width: 75%;
  font-family: "Montserrat", sans-serif;
  background: url('../img/google.svg') no-repeat scroll 7px 20px;
}

button {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
  width: 65%;
}

a {
  color: #FF8C00;
  text-underline-offset: 4px
}

.aboutTextContainer {
  width: 300px;
  height: 180px;
}

.aboutTextHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ==========================================================================
   Set Dark Mode
   ========================================================================== */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }

  input {
    background-color: #444;
    color: #fff;
  }

  input::placeholder {
    color: #818181;
  }

  button {
    background-color: #444;
    color: #fff;
  }
}

/* ==========================================================================
   Desktop Styles
   ========================================================================== */
@media only screen and (min-width: 600px) {
  body {
    background: brown !important;
  }
}

/* ==========================================================================
   About Text Animation
   ========================================================================== */
.animation-text-wipe {
  opacity: 0;
  -webkit-mask-size: 500%;
}

.animation-text-wipe {
  -webkit-mask-image: -webkit-linear-gradient(to left, #0000 25%, #000 75%);
}

.animation-text-wipe.animate-in {
  animation-name: text-wipe;
  animation-duration: 230ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes text-wipe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
